html, body{
    width: 100%;
    height: 100%;
}

.ui-jqgrid-sortable, .ui-widget-content{
    border: 1px solid black;
}

.ui-widget-content > td{
    border: 1px solid #051b11;
    padding-left: 5px;
    padding-right: 5px;
}

.container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.top{
    width: 100%;
    height: 30%;

    background-color: yellow;
}

.middle{
    width: 100%;
    height: 70%;

    background-color: coral;
}
