html, body{
    width: 100%;
    height: 100%;
}

ul{
    padding-left: 30px;
}

li{
    color: white;
    cursor: pointer;
}

ul>li>ul>li{
    color: cyan;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100%;
    height: 100%;

    display: flex;
}

.container-nav{
    padding-top: 25px;
    padding-bottom: 25px;

    width: 10%;
    height: 100%;
    background-color: gray;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-logo{
    margin-bottom: 50px;

    width: 100px;
    height: 100px;
}

.nav-btn{
    margin-top: 5px;
    margin-bottom: 5px;

    width: 100px;
    height: 100px;
}

.container-main{
    width: 90%;
    height: 100%;

    text-align: center;
}

